 body {
    background-image: url('../image/tile.jpg');
    background-size: cover;
    background-color: #f0f0f0;
}

@font-face {
    /* font-family: 'Fantasy'; */
    src: url('../fonts/Fantasy.otf') format('opentype');
}

.title {
    font-family: 'Fantasy';
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#tasks-form {
    background-image: url('/assets/image/formbg.jpg');
    background-position: center;
    width: 500px;
    margin: 0 auto 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea, input[type="date"], input[type="time"] {
    width: 300px;
    padding: 3px;
    margin: 1px;
    border: 1px solid #ddd;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-button {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    gap: 10px;
}

#tasks {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.task {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-image: url('/assets/image/notebg.png');
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.6s ease-in;
    align-items: flex-start;
}

.task.show {
    opacity: 1;
}

.task > div:nth-child(2) {
    overflow-y: scroll;
}

.task > div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
}

.task > div > img {
    width: 16px;
    height: 16px; /* Fixed height to prevent layout shift */
    visibility: hidden; /* Reserve space for the icon */
}

.task:hover > div > img {
    visibility: visible; /* Show the icon on hover */
}

.task > div > img:hover {
    cursor: pointer;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
}

.task-content {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    overflow: auto;
    margin-top: 0; /* Removed margin to prevent shifting */
}

.task-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
}

.task-footer .data.date,
.task-footer .data.time {
    margin-bottom: 5px;
}
