body {
    background-image: url('../image/tile.jpg');
    background-size: cover;
    background-color: #f0f0f0;
}

@font-face {
    src: url('../fonts/Fantasy.otf') format('opentype');
}

.title {
    font-family: 'Fantasy';
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
 
    
}

#tasksForm {
    background-image: url('/assets/image/formbg.jpg');
    background-position: center;
    /* height: 200px; */
    width: 500px;
    margin: 0 auto 100px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea, input[type="date"], input[type="time"] {
    width: 300px; 
    padding: 3px;
    margin: 1px;
    border: 1px solid #ddd;
    font-size: 16px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;

}


.formButton {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    gap: 10px;          
}


#tasks {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.task {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-image: url('/assets/image/notebg.png');
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.5s ease-in; 
    opacity: 0.5; 
    position: relative;
}

.task.show {

    opacity: 1; 
}

.task > div:nth-child(2) {
    overflow-y: scroll;
}

.task > div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
}

.task > div > img {
    width: 16px;
    display: none;
}

.task:hover > div > img {
    display: block;
}

.task > div > img:hover {
    cursor: pointer;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.taskContent {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family:monospace;
    overflow: auto;
    margin-top: 30px;
    word-wrap: break-word;
}

.taskFooter {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    color: #555;
}

.taskFooter .data.date,
.taskFooter .data.time {
    margin-bottom: 5px; 
}

.taskFooter {
font-family: fantasy;
font-size: 0.8em;
color: #51504e;
}

.close-icon i {
    display: none;
}


.task:hover .close-icon i {
    display: block;
    font-size: 20px;
    cursor: pointer;
    color: #f00;
}


.task:hover .close-icon i:hover {
    color: #b00; 
}